# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

### IDEs Artifacts ###
.idea
.vscode

### Node Dependencies ###
*/node_modules
*/.pnp
*/.pnp.js
*/.yarn/install-state.gz

### Testing ###
*/coverage

### Next.js ###
*/.next/
*/out/

### Production ###
*/build

### misc ###
.DS_Store
*.pem

### Debug ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Local env Files ###
.env*.local

### Vercel ###
*/.vercel

### Typescript ###
*.tsbuildinfo
next-env.d.ts

### Gradle ###
*/.gradle
*/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
*/.apt_generated
*/.classpath
*/.factorypath
*/.project
*/.settings
*/.springBeans
*/.sts4-cache
*/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA Artifacts ###
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
*/nbproject/private/
*/nbbuild/
*/dist/
*/nbdist/
*/.nb-gradle/

### Configurations ###
*/application.yaml
*/application.conf

### Secrets ###
*/secret/
*/secrets/

*/.well-known/

.react-email