<!--
  ~ Copyright (C) PU Convocation Management System Authors
  ~
  ~ This software is owned by PU Convocation Management System Authors.
  ~ No part of the software is allowed to be copied or distributed
  ~ in any form. Any attempt to do so will be considered a violation
  ~ of copyright law.
  ~
  ~ This software is protected by copyright law and international
  ~ treaties. Unauthorized copying or distribution of this software
  ~ is a violation of these laws and could result in severe penalties.
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="org.mongodb.driver" level="OFF"/>
</configuration>